{% extends "layouts/base.html" %}
{% block title %} Firearm insights {% endblock %}
 {% block content %}
<div class='tableauPlaceholder' id='viz1620159339750' style='position: relative'>
    <noscript><a href='#'>
        <img alt='Sheet 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;RelationBtwTypeofgunandviolence&#47;Sheet1&#47;1_rss.png' style='border: none' />
    </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='RelationBtwTypeofgunandviolence&#47;Sheet1' />
        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;RelationBtwTypeofgunandviolence&#47;Sheet1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
    </object>
</div>
<div class='tableauPlaceholder' id='viz1620159510743' style='position: relative'>
    <noscript><a href='#'>
        <img alt='Firearm Data ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard2_16201576758620&#47;Dashboard1&#47;1_rss.png' style='border: none' />
    </a></noscript>
    <object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='Dashboard2_16201576758620&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard2_16201576758620&#47;Dashboard1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
    </object>
</div>
<div class='tableauPlaceholder' id='viz1620159627105' style='position: relative'>
    <noscript><a href='#'>
        <img alt='Dashboard 2 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard1_16201576136050&#47;Dashboard2&#47;1_rss.png' style='border: none' />
    </a></noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='Dashboard1_16201576136050&#47;Dashboard2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard1_16201576136050&#47;Dashboard2&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
    </object>
</div>
<div class='tableauPlaceholder' id='viz1620160507889' style='position: relative'>
    <noscript><a href='#'>
        <img alt='firearms_crime_fatality ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;deaths_16201575422500&#47;firearms_crime_fatality&#47;1_rss.png' style='border: none' />
    </a></noscript><object class='tableauViz'  style='display:none;'>
    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
    <param name='embed_code_version' value='3' />
    <param name='site_root' value='' />
    <param name='name' value='deaths_16201575422500&#47;firearms_crime_fatality' />
    <param name='tabs' value='no' />
    <param name='toolbar' value='yes' />
    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;deaths_16201575422500&#47;firearms_crime_fatality&#47;1.png' />
    <param name='animate_transition' value='yes' />
    <param name='display_static_image' value='yes' />
    <param name='display_spinner' value='yes' />
    <param name='display_overlay' value='yes' />
    <param name='display_count' value='yes' />
    <param name='language' value='en' />
</object>
</div>
<div class="card-deck">

  <div class="card mb-3">
  <img class="card-img-top" src="static/assets/img/gunviolence.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"></h5>
      <p class="card-text">
          <ul>
            <li>Firearm-related homicides declined 39%, from 18,253 in 2000 to 11,101 in 2019.</li>
            <li>Nonfatal firearm crimes declined 69%, from 1.5 million victimizations in 1993 to 467,300 victimizations in 2019.
</li>
            <li>For both fatal and nonfatal firearm victimizations, the majority of the decline occurred during the 10-year period from 2000 to 2019.
</li>
      <li> Firearm violence accounted for about 70% of all homicides and less than 10% of all nonfatal violent crime from 2000 to 2019.</li>
      <li>About 70% to 80% of firearm homicides and 90% of nonfatal firearm victimizations were committed with a handgun from 2000 to 2019.</li>
       <li>From 2000 to 2019., males, blacks, and persons ages 18 to 24 had the highest rates of firearm homicide. </li>
        </ul>
      </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>

</div>
{% endblock content %}
{% block javascripts %}
<script type='text/javascript'>
var divElement = document.getElementById('viz1620159339750');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
var divElement = document.getElementById('viz1620159510743');
var vizElement = divElement.getElementsByTagName('object')[0];
if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
else { vizElement.style.width='100%';vizElement.style.height='1427px';}
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<script type='text/javascript'>
var divElement = document.getElementById('viz1620159627105');
var vizElement = divElement.getElementsByTagName('object')[0];
if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
else { vizElement.style.width='100%';vizElement.style.height='777px';}
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
  <script type='text/javascript'>
  var divElement = document.getElementById('viz1620160507889');
  var vizElement = divElement.getElementsByTagName('object')[0];
  if ( divElement.offsetWidth > 800 )
  { vizElement.style.width='1000px';vizElement.style.height='827px';}
  else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
  else { vizElement.style.width='100%';vizElement.style.height='1077px';}
  var scriptElement = document.createElement('script');
  scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
{% endblock javascripts %}