{% extends "layouts/base.html" %}
{% block title %} Cost on economy contributed by gun crimes {% endblock %}
{% block content %}
<div class='tableauPlaceholder' id='viz1620157687788' style='position: relative'>
    <noscript><a href='#'>
        <img alt='Cost borne per person  ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;2Q&#47;2QZBR7P5X&#47;1_rss.png' style='border: none' />
    </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='path' value='shared&#47;2QZBR7P5X' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;2Q&#47;2QZBR7P5X&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
    </object>
</div>
<div class='tableauPlaceholder' id='viz1620160046786' style='position: relative'>
    <noscript><a href='#'>
        <img alt='Sheet 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;deaths_state_teens&#47;Sheet1&#47;1_rss.png' style='border: none' />
    </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='deaths_state_teens&#47;Sheet1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;deaths_state_teens&#47;Sheet1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' /></object>
</div>
<div class='tableauPlaceholder' id='viz1620158213703' style='position: relative'>
    <noscript><a href='#'>
        <img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ec&#47;economic_cost_of_gun_violence&#47;Dashboard1&#47;1_rss.png' style='border: none' />
    </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='economic_cost_of_gun_violence&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ec&#47;economic_cost_of_gun_violence&#47;Dashboard1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='language' value='en' />
    </object>
</div>

<div class="card-deck">
  <div class="card">
    <img class="mx-auto d-block" src="/static/assets/img/usa.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Children and teens crime inference</h5>
          <p class="card-text">
              <ul>
                <li>Gun violence in entire US costs each person an average of $860 every year.</li>
              </ul>
          </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="mx-auto d-block" src="/static/assets/img/$.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Economic cost of gun violence</h5>
      <p class="card-text">
              <ul>
                <li>Gun violence in Louisiana costs each person an average of $1793 every year which is the highest.
                </li>

              </ul>
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="mx-auto d-block" src="/static/assets/img/california.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">State Overview Trends</h5>
         <p class="card-text">
              <ul>
                <li>Gun violence in California costs each person an average of $571 every year. </li>

              </ul>
        </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
<script type='text/javascript'>
var divElement = document.getElementById('viz1620158213703');
var vizElement = divElement.getElementsByTagName('object')[0];
if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
else { vizElement.style.width='100%';vizElement.style.height='1127px';}
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<script type='text/javascript'>
var divElement = document.getElementById('viz1620160046786');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1620157687788');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

{% endblock javascripts %}